<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluu.androidflexiblesample" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventbus.OttoActivity"
            android:label="@string/title_activity_otto" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.flexible.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventbus.GuavaActivity"
            android:label="@string/title_activity_guava" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.flexible.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".eventbus.EventBusActivity"
            android:label="@string/title_activity_event_bus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.flexible.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".viewholder.ViewHolderActivity"
            android:label="@string/title_activity_view_holder" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.flexible.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".local.LocalBroadcastActivity"
            android:label="@string/title_activity_local_broadcast" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.pluu.flexible.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>
